* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #0b0b12;
    color: white;
}

header {
    background: #11111c;
    padding: 20px 8%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #9b5cff;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #9b5cff;
}

.hero {
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding: 80px 8%;
    background: linear-gradient(135deg, #0b0b12, #21103d);
}

.hero div {
    max-width: 700px;
}

.tag {
    color: #9b5cff;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero h2 {
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: #cccccc;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    background: #9b5cff;
    color: white;
    padding: 13px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background: #7c3aed;
}

.section {
    padding: 80px 8%;
    text-align: center;
}

.section h2 {
    font-size: 38px;
    margin-bottom: 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: #151522;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #29293a;
}

.card h3 {
    color: #9b5cff;
    margin-bottom: 15px;
}

.card p,
.about p,
.contact p {
    color: #cccccc;
}

.about {
    background: #11111c;
}

.about p {
    max-width: 700px;
    margin: auto;
}

.contact {
    background: #21103d;
}

footer {
    background: #08080d;
    text-align: center;
    padding: 25px;
    color: #999;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h2 {
        font-size: 42px;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}